.outer_1 {
    border: 2px solid #6b6b6b;
    position: static;
    width: 180px;
    /* height: 470px; */
    /* background-color: #e6f0ff; */
    border-radius: 6px;
    /* box-shadow: 2px 2px 23px -6px rgba(92, 92, 92, 0.77); */
}

.outer_1:hover {
    box-shadow: 1px 1px 122px -30px rgb(175, 158, 0);
    cursor: pointer;
}

.inner_1 {
    padding: 7px;
    border-top: 1px solid #6b6b6b;
    /* background-color: #e6f0ff; */
    width: auto;
    height: auto;
}

.explore {
    text-align: center;
    margin-top: 12px;
    top: 20px;
}

/* filter: blur(8px);
-webkit-filter: blur(8px); */

.fa-star {
    color: rgb(218, 185, 0);
}

.body_cont {
    margin-top: 138px;
}

.img {
    padding: 6px;
    background-color: #ccccb3;
    border: 2px solid #6b6b6b;
}

.inner_text {
    color: white;
}

.exp_btn {
    font-weight: bold;
}

.form-select {
    margin-right: 5px;
    width: 150px;
    font-weight: bold;
}

.not_found {
    color: rgb(150, 150, 150);
    text-align: center;
    margin-top: 180px;
    font-size: 47px;
}

#rec_not_found{
    color: rgb(150, 150, 150);
    text-align: center;
    margin-top: 300px;
    font-size: 47px;
}
.top_1 {
    font-weight: bold;
    margin-bottom: 14px;
    margin-right: 18px;
    float: right;
    background-color: #5a5a5a;
}

select {
    -webkit-appearance: listbox !important;
    appearance: none;
}

option[value=""][disabled] {
    display: none;
}

option{
    cursor: pointer;
}