<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="static/style.css">

    <link rel="icon" href="static/123.ico">

    <script src="static/script.js"></script>
    <script src="static/script_1.js"></script>
    

</head>

<body style="background-color: black;">

    <!-- Navbar Start-->
    <div class="fixed-top" style="background-color: black;">
        <nav class="navbar navbar-expand-sm bg-dark">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <i class="fa fa-bank navbar-brand" style="color:white;font-size:33px;"></i>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}"
                            style="color: white;font-weight:bold;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('recommendation') }}"
                            style="color: white;font-weight:bold;">Recommendations</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="mt-3 mb-3" style="text-align: center;">
            <span style="color:white;font-size:40px;font-weight:bold;">Recommendations</span>
        </div>
        <div class="container" style="width:55%;">
            <span class="d-flex mt-2" style="width:100%">
                <select class="form-control me-2" required id="book_names_id">
                    <option value="" selected disabled>Please Select a Book</option>
                    <!-- <option value="1984">1984</option>
                    <option value="The Notebook">The Notebook</option>
                    <option value="Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))">Harry Potter andthe Sorcerer's Stone (Harry Potter (Paperback))</option>
                    <option value="Spectre">Spectre</option> -->
                    {% for i in range(0, book_list|length) %}
                    <option value="{{ book_list[i][0] }}">
                        {% if book_list[i][0]|length <= 80: %} 
                        {{ book_list[i][0] }}
                        {% else %} 
                        {{ book_list[i][0][:77] }}... 
                        {%endif%}
                    </option>
                    {%endfor%}
                </select>
                <!-- <button class="btn btn-primary" type="submit" style="font-weight: bold;">Find</button> -->
            </span>
        </div>
    </div>

    <div id="spinner" style="margin-top: 418px;text-align:center;">
        <img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading..." class="spinner" width="70">
    </div>

    <div class="container">
        <div class="row" id="rec_books" style="margin-top:220px;color: white;">
        </div>
    </div>

    <div id="rec_not_found">
    </div>


    <div class="fixed-bottom">
        <button class="btn btn-dark top_1" id = "myBtn" style="display: none;" onclick="topFunction()">Top</button>
    </div>
</body>
</html>